<html>

<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=diveci-width,initial-scale=1.0">
  <!-- Bootstrap CSS Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">


  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/cf059f7d51.js" crossorigin="anonymous"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-158844136-2', 'auto');
  ga('send', 'pageview');
  </script>

</head>

<body>
  <a href="/" class="logout" align="center"> LOG OUT</a>
  <!--button class = "logout">LOG OUT </button-->

</div>
</div>

  <div class="container" style="position:relative; top:100px;">
    <div class = "home_text">
      <h1>Welcome!</h1>
      <h2>
        <p>Your Eating Buddy Is Waiting For You...</p>
      </h2>
    </div>

  <div class="btns">
    <div class="button_cont" style = "text-align:center">
      <a class="home_button" href="step1"><img class="btn-img" src="images/food-and-restaurant.png" /> Start Eating</a>
    </div>
    <div class="button_cont" style = "text-align:center">
      <a class="home_button2" href="profile"><img class="btn-img" src="images/profile.png" />My Eat Buddy</a>
    </div>
  </div>


</div>





  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>
