body {
  background-size: cover;
  background-position: bottom center;
}
body{
  font-family: Apple SD Gothic Neo, sans-serif;
  color: #ffffff;
}

.step {
  margin-left: 20;
  margin-right: 20;
}

.step h2 {
  padding-top: 20%;
  font-size: 20px;
  margin-bottom: 5%;
}

.step p {
  font-size: 16px;
}

.step h1 {
  margin-top: 5%;
  font-weight: bold;
}

.back-btn {
  position: absolute;
  width:100px;
  left: 20px;
  font-size: 15px;
  color: #ffc764;
  font-weight: bold;
  padding: 12px;
  box-shadow: 2px 5px 10px #e2b058;
  background-color: #ffffff;
}

.next-btn {
  position: absolute;
  width:250px;
  right: 65px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding: 11px;
  box-shadow: 2px 5px 10px #e2b058;
  background-color: #ffc764;
  letter-spacing: 2px;
}

.btn {
  height: 42px;
  text-transform: uppercase;
  border-radius: 24px;
  cursor: pointer;
}

.photo-btn {
  width: 80px;
  height: 50px;
  font-size: 15px;
}

.tr {
  height: 200px;
}

.td {
  width: 200px;
  height: 200px;
}

.food-btn {
  background-color: #b5b5b5;
  border-radius: 24px;
  padding: 15px;
  margin: 10px;
  width: 80px;
  height: 80px;
  box-shadow: 2px 5px 10px #e2b058;
}

.food-btn-chosen {
  background-color: #ffffff;
}

.avatar-img {
  width: 5rem;
  /* float: left; */
  /* box-shadow: 2px 6px 10px #e6e6e6; */
  /* clear: left; meaning empty-float, prevent it from wrapping img to the left */
}
