/* start main style */
body{
  background-image:url("/images/timer.jpg");
  background-attachment: fixed;
  font-family: Apple SD Gothic Neo, sans-serif;
}
#header2{
    display: none;
  }
.img{
  margin-top: 40px;
  width: 15rem;
}
input{
  width: 100px;
  height: 80px;
  border-radius:15px;
  border-color: #ffc764;
  font-size: 40px;
  font-style:bold;
  color:#ffc764;
}
  /* end main style */

  /* start container */

  .containe {
    width: 100%;
    margin-top: 20%;
    padding-top: 50px;
    padding-bottom:100px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .containe h1 {
    color: black;
    font-size: 72px;
    font-weight: 300;
    margin-top: 10%;
    margin-bottom: 100px;
  }

  .containe h3 {
    font-size: 30px;
    color: black;
    margin-left: 30px;
  }

  .containe p {
    color: black;
    font-size: 25px;
    margin-top: 0;
    margin-left: -10px;
  }

  .containe .plus {
    background: none;
    border: 0;
    color: black;
    position: absolute;
    top: -60px;
    left: 5px;
    transition: .3s;
    cursor: pointer;
    outline: 0;
  }

  .containe .plus:hover {
    color: #494949;
  }

  .containe .minus {
    background: none;
    border: 0;
    color: black;
    position: absolute;
    top: 110px;
    left: 5px;
    transition: .3s;
    cursor: pointer;
    outline: 0;
  }

  .containe .minus:hover {
    color: #494949;
  }

  .containe .hours,
  .containe .minutes,
  .containe .seconds {
    position: relative;
    margin-right: 60px;
    display: inline-block;
    padding-top:8px;
  }

  .containe .seconds {
    margin-right: -10px;
  }

  .containe .hours:after,
  .containe .minutes:after {
    content: ":";
    font-size: 60px;
    color: black;
    position: absolute;
    right: -40px;;
    top: 5px;
  }

  .containe .set {
    margin-top:15px;
    margin-left:60px;
    width:250px;
    background:#ffc764;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .3s;
    display: block;
    box-shadow: 2px 5px 10px #e2b058;
    font-weight: bold;
  }

  .containe .suggest {
    margin-top:200px;
    margin-left:55px;
    font-size: 15px;
    border-color:#ffc764;
    padding: 10px 40px;
    color: #ffc764;
    cursor: pointer;
    transition: .3s;
    display: block;
    box-shadow: 2px 5px 10px #e2b058;
    font-weight: bold;
  }
  .containe .set:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  .containe .controls {
    width: 100%;
    margin: 70px auto;
    display: none;
  }

  .containe .controls button {
    background:#ffc764;
    border: 0;
    color: white;
    cursor: pointer;
    margin: 10px;
    outline: 0;
  }

  #myProgress {
    margin-top:20%;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    background-color: grey;
    border-radius:40px;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color:white;
    border-radius:40px;
  }